$cor-0: #00c2cb;
$cor-1: #f6e8c3;
$cor-2: #ff6b35;
$cor-3: #a3d900;
$cor-4: #d6a2e8;
$cor-5: #ffd166;

$fonteLight: #f7f7f7;
$bgLight: #eaeaea;

$fonteDark: #141414;
$bgDark: #222222;

$bgDarkLight: #d8d8d8;
