$cor-0: #00c2cb;
$cor-1: #f6e8c3;
$cor-2: #ff6b35;
$cor-3: #a3d900;
$cor-4: #d6a2e8;
$cor-5: #ffd166;

$fonteLight: #f8f3e4;
$bgLight: #f7f0e6;
$bgLight2: #fef0df;

$fonteDark: #140a01;
$bgDark: #222222;

$bgDarkLight: #e7ddce;
$raio-default: 8px;
$raio-default2: 4px;
